.searchbar {
background-color: lightpink;
align-items: center;
display: flex;
justify-content: center;
top: 0;
padding-top: 30px;
padding-bottom: 30px;
}
.button{
  
    background-color: deeppink;
    display: inline-block;
    cursor: pointer;
}
.form{
 display: flex;
 align-items: center;
 width: 100%;
 border-radius: 3px;
 overflow: hidden;
 max-width: 300px;

}
.input{
    background-color: deeppink;
   
}
.load{
    background-color: deeppink;
}

.gallery{
    padding: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    
}

.gallery-item{
    border-radius: 10px solid gray;
}
.overlay{
    justify-content: center;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 07);
}
.modal{
    max-width: 80%;
    max-height: 80%;
}
.modal img{
    width: 100%;
    height: auto;
}