.searchbar {
    background-color: lightpink;
    align-items: center;
    display: flex;
    justify-content: center;
    top: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}
.button{
  
    background-color: deeppink;
    display: inline-block;
    cursor: pointer;
}
.form{
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    max-width: 300px;
    margin-left: 100px;

}
.input{
    background-color: deeppink;
   
}
.load{
    background-color: deeppink;
}


.gallery {
    display: grid;
    grid-gap: 12px;
    max-width: 100vw;
    margin: 12px;
    grid-template-columns: repeat(3, minmax(320px, 1fr));
    padding: 0;
    list-style: none;
  }
  
  .gallery-item {
    width: 100%;
    height: 260px;
    border-radius: 15px;
    overflow: hidden;
  }
  
  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
.overlay{
    justify-content: center;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 07);
}
.modal{
    max-width: 80%;
    max-height: 80%;
}
.modal img{
    width: 100%;
    height: auto;
    border-radius: 15px;
}